
.heading h1, h3, h4 {
  color: indianred;
  text-transform: uppercase;
  font-weight: 100;
} 
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: papayawhip;
} 
.profpic {
  border-radius: 50%;
  float: left;
  border: 6px solid white;
  margin-right: 18px;
} 
ul {
 text-indent: 26px;
}
.prj-img {
  margin: 2px;
  padding-right: 20px;
  float: left;
}